*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    width: 90%;
    margin: 10px auto;
    border: 2px solid black;
    display: grid;
    color: white;
    grid-template-rows: 80px 300px 500px 80px;
    grid-template-columns: repeat(3,1fr) 150px;
    grid-gap: 2px;
}
a{
    text-decoration: none; 
    color: white;
}
.nav-area{
    list-style: none;
}
.footer-area{
    list-style: none;
}
.footer-area li{
    display: inline;
    padding: 0 15px;
}
.footer-area li a{
    font-size: 30px;
    font-weight: bold;
}
.nav-area li{
    display: inline-block;
    padding: 0 15px;
    text-transform: uppercase;
}
.nav-area li a{
    color:white;
    font-weight: bold;
}
.nav-area li a:hover{
    color: #006c87;
}
.btn-area{
    cursor: pointer;
    color: white;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius: 5px;
    background: #006c87;
}
.div1{
    background-color:black;
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px;
    
}

.div2,.div3,.div4{
   
    position: relative; 
    text-align: center;
  
}
.centered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centered a{
    font-size: 40px;
    font-weight: bold;
    color:white;
    cursor: pointer;
}
.div2 img,.div3 img,.div4 img{
    width: 100%;
    height: 100%;
}

.div5{
    color: black;
    grid-row: 2/4;
    grid-column: 4/5;
}
.News-header{
background: black;
color: white;
text-align: center;
font-size: 30px;
font-weight: bold; 
}
.heading{
    background:black;
    color: white;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
.form{
    width: 100%;
    background: grey;
    color: black;
    padding: 20px 20px 20px 20px;
    font-size: 20px;
}


.form input{
    width: 80%;
    height:30px;
    border-radius: 5px;
    background-color: black;

}
.form textarea{
    width: 80%;
    height: 127px;
    background: black;
    border-radius: 5px;
}

.News-list ul {
    margin: 2px 2px;
}
.News-list ul li{
    background: gray;
    margin: 2px 0px;
    color: white;
    list-style-type: circle;    
}
.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
.div6{
    background-color:#ffa502;
    grid-column: 1/4;    
}
.div7{
    background-color:black;
    grid-column: 1/-1;    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px;
}